body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #f0f0f0;
    padding: 10px;
}

.header-logo {
    margin-right: 20px;
}

.header-logo button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.header-logo .logo {
    max-height: 150px;
    max-width: 280px;
    width: auto;
    height: auto;
}

.search-bar {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-bar input[type="text"] {
    width: 300px;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-bar button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 5px;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
}

.buttons button:hover {
    background-color: #0056b3;
}
